@font-face {
    font-family: 'BC_cardL'; /* BC카드L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/BC_cardL.woff2') format('woff2');
}

@font-face {
    font-family: 'BC_cardB'; /* BC카드B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/BC_cardB.woff2') format('woff2');
}

@font-face {
    font-family: 'payboocLight'; /* 페이북Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/payboocLight.woff2') format('woff2');
}

@font-face {
    font-family: 'payboocMedium'; /* 페이북Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/payboocMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'payboocBold'; /* 페이북Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/payboocBold.woff2') format('woff2');
}

@font-face {
    font-family: 'payboocExtraBold'; /* 페이북ExtraBold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/BCCard/payboocExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'DWImpactamin'; /* DW임팩타민체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/DWImpactamin/DWImpactamin.woff2') format('woff2');
}

@font-face {
    font-family: 'EBSJSK_Light'; /* EBS주시경L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBSJSK_Light.woff') format('woff');
}

@font-face {
    font-family: 'EBSJSK_Medium'; /* EBS주시경M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBSJSK_Medium.woff') format('woff');
}

@font-face {
    font-family: 'EBSJSK_Bold'; /* EBS주시경B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBSJSK_Bold.woff') format('woff');
}

@font-face {
    font-family: 'EBS_Hunminjeongeum_L'; /* EBS훈민정음L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_Hunminjeongeum_L.woff2') format('woff2');
}

@font-face {
    font-family: 'EBS_Hunminjeongeum_R'; /* EBS훈민정음R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_Hunminjeongeum_R.woff2') format('woff2');
}

@font-face {
    font-family: 'EBS_Hunminjeongeum_SB'; /* EBS훈민정음SB */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_Hunminjeongeum_SB.woff2') format('woff2');
}

@font-face {
    font-family: 'EBS_HMJE_Saeron_L'; /* EBS훈민정음새론L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_HMJE_Saeron_L.woff2') format('woff2');
}

@font-face {
    font-family: 'EBS_HMJE_Saeron_R'; /* EBS훈민정음새론R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_HMJE_Saeron_R.woff2') format('woff2');
}

@font-face {
    font-family: 'EBS_HMJE_Saeron_SB'; /* EBS훈민정음새론SB */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/EBS/EBS_HMJE_Saeron_SB.woff2') format('woff2');
}

@font-face {
    font-family: 'Gmarket_Sans_Light'; /* G마켓 산스 Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gmarket_Sans/Gmarket_Sans_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Gmarket_Sans_Medium'; /* G마켓 산스 Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gmarket_Sans/Gmarket_Sans_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gmarket_Sans_Bold'; /* G마켓 산스 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gmarket_Sans/Gmarket_Sans_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GodoM'; /* 고도체 Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Godo/GodoM.woff2') format('woff2');
}

@font-face {
    font-family: 'GodoB'; /* 고도체 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Godo/GodoB.woff2') format('woff2');
}

@font-face {
    font-family: 'godoMaum'; /* 고도마음체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Godo/godoMaum.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZgo_L'; /* KBIZ한마음고딕 L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZgo_L.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZgo_R'; /* KBIZ한마음고딕 R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZgo_R.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZgo_M'; /* KBIZ한마음고딕 M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZgo_M.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZgo_B'; /* KBIZ한마음고딕 B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZgo_B.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZgo_H'; /* KBIZ한마음고딕 H */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZgo_H.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZmjo_L'; /* KBIZ한마음명조 L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZmjo_L.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZmjo_R'; /* KBIZ한마음명조 R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZmjo_R.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZmjo_M'; /* KBIZ한마음명조 M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZmjo_M.woff2') format('woff2');
}

@font-face {
    font-family: 'KBIZmjo_B'; /* KBIZ한마음명조 B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBIZ/KBIZmjo_B.woff2') format('woff2');
}

@font-face {
    font-family: 'KBO_Dia_Gothic_Light'; /* KBO 다이아고딕_light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBO/KBO_Dia_Gothic_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'KBO_Dia_Gothic_Medium'; /* KBO 다이아고딕_medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBO/KBO_Dia_Gothic_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'KBO_Dia_Gothic_Bold'; /* KBO 다이아고딕_bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KBO/KBO_Dia_Gothic_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'KITA'; /* 한국무역협회-KITA */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KITA/KITA.woff2') format('woff2');
}

@font-face {
    font-family: 'KOFIH_DrLEEJW_L'; /* KOFIH_이종욱-L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KOFIH/KOFIH_DrLEEJW_L.woff2') format('woff2');
}

@font-face {
    font-family: 'KOFIH_DrLEEJW_B'; /* KOFIH_이종욱-B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KOFIH/KOFIH_DrLEEJW_B.woff2') format('woff2');
}

@font-face {
    font-family: 'KOHINanum_Light'; /* KOHI나눔_Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KOHI/KOHINanum_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'KOHINanum_Bold'; /* KOHI나눔_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KOHI/KOHINanum_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'KOHIBaeum'; /* KOHI배움 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KOHI/KOHIBaeum.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubDotumLight'; /* KoPub_돋움_Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubDotumLight.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubDotumMedium'; /* KoPub_돋움_Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubDotumMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubDotumBold'; /* KoPub_돋움_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubDotumBold.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubBatangLight'; /* KoPub_바탕_Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubBatangLight.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubBatangMedium'; /* KoPub_바탕_Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubBatangMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPubBatangBold'; /* KoPub_바탕_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KoPub/KoPubBatangBold.woff2') format('woff2');
}

@font-face {
    font-family: 'LINESeedKR-Th'; /* LINE Seed Th */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/LINE_Seed_Sans/LINESeedKR-Th.woff2') format('woff2');
}

@font-face {
    font-family: 'LINESeedKR-Rg'; /* LINE Seed Rg */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/LINE_Seed_Sans/LINESeedKR-Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'LINESeedKR-Bd'; /* LINE Seed Bd */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/LINE_Seed_Sans/LINESeedKR-Bd.woff2') format('woff2');
}


@font-face {
    font-family: 'MBC_1961_Medium'; /* MBC_1961_M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MBC_1961/MBC_1961_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'MBC_1961Gulim_Medium'; /* MBC_1961굴림_M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MBC_1961/MBC_1961Gulim_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'MICEGothic'; /* MICE고딕 R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MICE/MICEGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'MICEGothic_Bold'; /* MICE고딕 B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MICE/MICEGothic_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MICEMyungjo'; /* MICE명조 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MICE/MICEMyungjo.woff2') format('woff2');
}

@font-face {
    font-family: 'MyLotteLight'; /* MyLotteLight */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MyLotte/MyLotteLight.woff2') format('woff2');
}

@font-face {
    font-family: 'MyLotteRegular'; /* MyLotteRegular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MyLotte/MyLotteRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'MyLotteMedium'; /* MyLotteMedium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MyLotte/MyLotteMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'MyLotteBold'; /* MyLotteBold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/MyLotte/MyLotteBold.woff2') format('woff2');
}

@font-face {
    font-family: 'RixYeoljeongdo'; /* Rix열정도_Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Rix/RixYeoljeongdo.woff2') format('woff2');
}

@font-face {
    font-family: 'RixYeoljeongdo_Pro'; /* Rix열정도_Pro_Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Rix/RixYeoljeongdo_Pro.woff2') format('woff2');
}

@font-face {
    font-family: 'RixInooAriDuri'; /* Rix이누아리두리_Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Rix/RixInooAriDuri.woff2') format('woff2');
}

@font-face {
    font-family: 'RixInooAriDuri_Pro'; /* Rix이누아리두리_Pro_Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Rix/RixInooAriDuri_Pro.woff2') format('woff2');
}

@font-face {
    font-family: 'RixMomsBlanket'; /* Rix할매의꽃담요R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Rix/RixMomsBlanket.woff2') format('woff2');
}

@font-face {
    font-family: 'Sandoll_Samliphopangche_Basic'; /* Sandoll_삼립호빵체_Basic */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Sandoll_Samlip-Hopang/Sandoll_Samliphopangche_Basic.woff2') format('woff2');
}

@font-face {
    font-family: 'Sandoll_Samliphopangche_Outline'; /* Sandoll_삼립호빵체_Outline */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Sandoll_Samlip-Hopang/Sandoll_Samliphopangche_Outline.woff2') format('woff2');
}

@font-face {
    font-family: 'Sandoll_MiSaeng'; /* Sandoll_미생체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Sandoll_MiSaeng/Sandoll_MiSaeng.woff2') format('woff2');
}

@font-face {
    font-family: 'TTTogether'; /* TT투게더 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/TTTogether/TTTogether.woff') format('woff');
}

@font-face {
    font-family: 'tvN_Enjoystories_Light'; /* tvN_즐거운이야기_Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/tvN_Enjoystories/tvN_Enjoystories_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'tvN_Enjoystories_Medium'; /* tvN_즐거운이야기_Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/tvN_Enjoystories/tvN_Enjoystories_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'tvN_Enjoystories_Bold'; /* tvN_즐거운이야기_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/tvN_Enjoystories/tvN_Enjoystories_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Y_Spotlight'; /* Y 너만을 비춤체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Y_Spotlight.woff2') format('woff2');
}

@font-face {
    font-family: 'Y_Universe-L'; /* Y_유니버스-L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Y_Universe-L.woff2') format('woff2');
}

@font-face {
    font-family: 'Y_Universe-B'; /* Y_유니버스-B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Y_Universe-B.woff2') format('woff2');
}

@font-face {
    font-family: 'Yde_streetL'; /* Y이드스트릿L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Yde_streetL.woff2') format('woff2');
}

@font-face {
    font-family: 'Yde_streetB'; /* Y이드스트릿B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Yde_streetB.woff2') format('woff2');
}

@font-face {
    font-family: 'Ycomputer'; /* Y콤퓨터 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/Ycomputer.woff2') format('woff2');
}

@font-face {
    font-family: 'YClover-Regular'; /* Y클로버 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/YClover-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'YClover-Bold'; /* Y클로버 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Y/YClover-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Ghanachocolate'; /* 가나초콜릿체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Ghanachocolate/Ghanachocolate.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_NapjakBlock'; /* 가비아_납작블록체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_NapjakBlock.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_Maeumgyeol'; /* 가비아_마음결체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_Maeumgyeol.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_BomBaram'; /* 가비아_봄바람체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_BomBaram.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_Solmee'; /* 가비아_솔미체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_Solmee.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_Ondam'; /* 가비아_온담체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_Ondam.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_Cheongyeon'; /* 가비아_청연체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_Cheongyeon.woff2') format('woff2');
}

@font-face {
    font-family: 'Gabia_Heuldot'; /* 가비아_흘돋체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gabia/Gabia_Heuldot.woff2') format('woff2');
}

@font-face {
    font-family: 'Gamja_Flower'; /* 감자꽃-Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/GamjaFlower/Gamja_Flower.woff2') format('woff2');
}

@font-face {
    font-family: 'KNU_TRUTH'; /* 경북대진리체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/KNU/KNU_TRUTH.woff2') format('woff2');
}

@font-face {
    font-family: 'esamanru_Light'; /* 이사만루체Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/esamanru/esamanru_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'esamanru_Medium'; /* 이사만루체Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/esamanru/esamanru_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'esamanru_Bold'; /* 이사만루체Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/esamanru/esamanru_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Kyobo_Handwriting_2019'; /* 교보 손글씨 2019 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Kyobo/Kyobo_Handwriting_2019.woff2') format('woff2');
}

@font-face {
    font-family: 'Kyobo_Handwriting_2020'; /* 교보 손글씨 2020 박도연 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Kyobo/Kyobo_Handwriting_2020.woff2') format('woff2');
}

@font-face {
    font-family: 'Kyobo_Handwriting_2021'; /* 교보 손글씨 2021 성지영 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Kyobo/Kyobo_Handwriting_2021.woff2') format('woff2');
}

@font-face {
    font-family: 'Kyobo_Handwriting_2022'; /* 교보 손글씨 2022 김혜남 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Kyobo/Kyobo_Handwriting_2022.woff2') format('woff2');
}

@font-face {
    font-family: 'Sandoll_Kukdetopokki_Light'; /* Sandoll 국대떡볶이 Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Sandoll_Kukdetopokki/Sandoll_Kukdetopokki_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Sandoll_Kukdetopokki_Bold'; /* Sandoll 국대떡볶이 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Sandoll_Kukdetopokki/Sandoll_Kukdetopokki_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Her-Leeoksun'; /* 그녀_이옥선 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Her/Her-Leeoksun.woff2') format('woff2');
}

@font-face {
    font-family: 'Her-Gilwonok'; /* 그녀-길원옥 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Her/Her-Gilwonok.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilbeot'; /* 길벗체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gilbeot/Gilbeot.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilbeot_TG'; /* 길벗체_TG */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gilbeot/Gilbeot_TG.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilbeot_BI'; /* 길벗체_BI */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Gilbeot/Gilbeot_BI.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXONLv1GothicLight'; /* 넥슨Lv1고딕Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXONLv1GothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXONLv1GothicRegular'; /* 넥슨Lv1고딕Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXONLv1GothicRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXONLv1GothicBold'; /* 넥슨Lv1고딕Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXONLv1GothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Lv2_Gothic_Light'; /* 넥슨 Lv2 고딕 Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Lv2_Gothic_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Lv2_Gothic_Regular'; /* 넥슨 Lv2 고딕 Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Lv2_Gothic_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Lv2_Gothic_Medium'; /* 넥슨 Lv2 고딕 Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Lv2_Gothic_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Lv2_Gothic_Bold'; /* 넥슨 Lv2 고딕 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Lv2_Gothic_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Maplestory_Light'; /* 메이플스토리 Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Maplestory_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Maplestory_Bold'; /* 메이플스토리 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Maplestory_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Kartrider_Kor_Medium'; /* 넥슨 카트 고딕 Kor Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Kartrider_Kor_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Kartrider_Kor_Bold'; /* 넥슨 카트 고딕 Kor Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Kartrider_Kor_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Kartrider_Kor_ExtraBold'; /* 넥슨 카트 고딕 Kor ExtraBold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Kartrider_Kor_ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Football_Gothic_L'; /* 넥슨_풋볼고딕_L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Football_Gothic_L.woff2') format('woff2');
}

@font-face {
    font-family: 'NEXON_Football_Gothic_B'; /* 넥슨_풋볼고딕_B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/NEXON_Football_Gothic_B.woff2') format('woff2');
}

@font-face {
    font-family: 'Bazzi'; /* 배찌체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Bazzi.woff2') format('woff2');
}

@font-face {
    font-family: 'Warhaven_Regular'; /* 워헤이븐_Regular */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Warhaven_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Warhaven_Bold'; /* 워헤이븐_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/Warhaven_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'DNF_Bit_Bit_v2'; /* 던파_비트비트체_v2 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/DNF_Bit_Bit_v2.woff2') format('woff2');
}

@font-face {
    font-family: 'DNF_Forged_Blade_Light'; /* 넥슨_던파_연단된_칼날_Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/DNF_Forged_Blade_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'DNF_Forged_Blade_Medium'; /* 넥슨_던파_연단된_칼날_Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/DNF_Forged_Blade_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'DNF_Forged_Blade_Bold'; /* 넥슨_던파_연단된_칼날_Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NEXON/DNF_Forged_Blade_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'netmarble_Light'; /* 넷마블L */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/netmarble/netmarble_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'netmarble_Medium'; /* 넷마블M */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/netmarble/netmarble_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'netmarble_Bold'; /* 넷마블B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/netmarble/netmarble_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ROH_HOE-CHAN'; /* 노회찬체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/ROH_HOE-CHAN/ROH_HOE-CHAN.woff2') format('woff2');
}

@font-face {
    font-family: 'DAEAM_LEE_TAE_JOON'; /* 대암 이태준체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/DAEAM_LEE_TAE_JOON/DAEAM_LEE_TAE_JOON.woff2') format('woff2');
}

@font-face {
    font-family: 'Deogon_Princess'; /* 덕온공주체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NHM/Deogon_Princess.woff2') format('woff2');
}

@font-face {
    font-family: 'HangeulNuriR'; /* 한글누리R */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NHM/HangeulNuriR.woff2') format('woff2');
}

@font-face {
    font-family: 'HangeulNuriB'; /* 한글누리B */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/NHM/HangeulNuriB.woff2') format('woff2');
}

@font-face {
    font-family: 'Ttangsbudaejjigae_Light'; /* 땅스부대찌개 Light */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Ttangsbudaejjigae/Ttangsbudaejjigae_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Ttangsbudaejjigae_Medium'; /* 땅스부대찌개 Medium */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Ttangsbudaejjigae/Ttangsbudaejjigae_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Ttangsbudaejjigae_Bold'; /* 땅스부대찌개 Bold */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Ttangsbudaejjigae/Ttangsbudaejjigae_Bold.woff2') format('woff2');
}

