@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMDOHYEON_v1.0/BMDOHYEON.woff2') format('woff2');
}

@font-face {
    font-family: 'BMEULJIROTTF';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMEULJIRO_v1.0/BMEULJIROTTF.woff2') format('woff2');
}

@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMEuljiro10yearslater_v1.0/BMEuljiro10yearslater.woff2') format('woff2');
}

@font-face {
    font-family: 'BMEuljirooraeorae';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMEuljirooraeorae_v1.0/BMEuljirooraeorae.woff2') format('woff2');
}

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMHANNAAir_v1.0/BMHANNAAir.woff2') format('woff2');
}

@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMHANNAPro_v1.0/BMHANNAPro.woff2') format('woff2');
}

@font-face {
    font-family: 'BMHANNA_11yrs';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMHANNA_11yrs_v1.0/BMHANNA_11yrs.woff2') format('woff2');
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMJUA_v1.1/BMJUA.woff2') format('woff2');
}

@font-face {
    font-family: 'BMKIRANGHAERANG';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMKIRANGHAERANG_v1.0/BMKIRANGHAERANG.woff2') format('woff2');
}

@font-face {
    font-family: 'BMYEONSUNG';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Corporation_Fonts/Baemin/BMYEONSUNG_v1.0/BMYEONSUNG.woff2') format('woff2');
}
